.game-section {
  width: 100%;
}
.cards-game-container {
  width: 100%;
  display: grid;
  align-items: start;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
}
.place-for-stars {
  height: 80px;
}