.black-layer {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: black;
  }

.menu.open .black-layer {
  display: block;
}